.ui {
  &.fixed.menu {
    background-image: $primary-gradient;
  }
  &.main.container {
    margin-top: 7em;
  }
  &.detailed {
    &-img {
      filter: brightness(30%);
      height: 100%;
    }
    &-text {
      position: absolute;
      bottom: 5%;
      left: 5%;
      width: 100%;
      height: auto;
      color: white;
    }
  }
}

.masthead {
  display: flex;
  align-items: center;
  background-image: $primary-gradient !important;
  height: 100vh;
  &__header {
    font-size: 7rem !important;
  }
}

.react {
  &-datepicker-wrapper {
    width: 100%;
  }
  &-calendar {
    width: 100%;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  }
}
